body{
    margin: 0;
    text-align: center;
}
header{
    display: grid;
    grid-template-columns: 300px 500px 300px;
    background-color: #04082c;
    align-items: center;
    width: auto;
    height: 110px;
    text-align: center;
    justify-content: center;
}
h3{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}
.buscador{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
}

.label { 
    display: flex;
    inline-size: 300px;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.btnBuscar{
    background-color: transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}
.divTabla{
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.contenedorTabla {
    width: 100%;
    max-width: 1100px;
}

table {
    color: #04082c;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: linear-gradient(#04082c, rgb(21, 21, 65) );
    color: white;
}

th {
    padding: 20px 15px;
    font-weight: 700;
}

tr {
    height: 50px;
}

td {
    width: 100px;
    padding: 12px;
    border-bottom: solid 1px black;
}

tbody tr {
    cursor: pointer;
    background-color: #E3E3E3;
}

tbody tr:hover {
    background: rgba(227, 227, 227, 0.308);
}

button:hover {
    background: rgba(227, 227, 227, 0.308);
}

.filter{
    visibility: hidden;
    opacity: 0;
    order: 1;
}

.btnPrincipal{
    inline-size: 300px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
