* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-image: url(../img/3b0fa6e6f369d1069723eff505c3b149.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    padding-top: 80px;
}

.contenedor{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.input{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    inline-size: 340px;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.consulta{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    inline-size: 340px;
    height: 100px;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.btnGuardar{
    position: relative;
    left: 20%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    inline-size: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.contenedorConsulta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 600;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 600;

}

.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-left: 2%;
}

.label { 
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

button{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin-top: 10px;
}
