body{
    margin: 0;
    background-color: azure;
    text-align: center;
}
header{
    display: grid;
    grid-template-columns: 700px 300px;
    background-color: #04082c;
    align-items: center;
    width: auto;
    height: 110px;
    text-align: center;
    justify-content: center;
}
h3{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}
.divInputDatos{
    justify-content: center;
    text-align: center;
}
.input{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    inline-size: 340px;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1); 
}
.inputFechaHora{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    inline-size: 150px;
    height: 20px;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1); 
}
.textoFechaHora{
    font-family: sans-serif;
    font-weight: bold;
    color: #04082c;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}
.divFechaHora{
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
}
.divFecha{
    text-align: center;
}
.divHora{
    text-align: center;
}
.btnEnviar{
    height:40px;
    width: 200px;
    border: transparent;
    font-size: 16px;
    border-radius: 50px;;
    background-color: #04082c;  
    text-align: center; 
    color: white;
    cursor: pointer;
}
.btnHistorial{
    height:40px;
    width: 230px;
    border: transparent;
    font-size: 16px;
    border-radius: 50px;;
    background-color: white;  
    text-align: center; 
    color: black; 
    cursor: pointer; 
}
.divBtnEnviar{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divTabla{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: linear-gradient(#04082c, rgb(21, 21, 65) );
}
table {

    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: white;
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    font-family: sans-serif;
}

td {
    padding: 12px;
    border-bottom: solid 1px black;
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(227, 227, 227, 0.308);
}
.btnAceptar{
    width: 45px;
    height: 45px;
    border: transparent;
    cursor: pointer;
}
.btnRechazar{
    width: 45px;
    height: 45px;
    border: transparent;
    cursor: pointer;
}
